article.card {
    border              : none;
    box-shadow          : 10px 10px 38px -2px rgba(0,0,0,0.08);
    display             : flex;
    height              : 550px;
    overflow            : hidden;
    position            : relative;
    width               : 400px;
}

article.card > button {
    background-color    : var(--clr-blue);
    border              : none;
    border-radius       : 10px;
    color               : #FFF;
    height              : 50px;
    margin-inline       : 1rem;
    width               : 150px;
}

article.card > img {
    height              : 50%;
    margin-bottom       : 1rem;
    object-fit          : cover;
    width               : 100%;
}

article.card > p {
    font-size           : 16px;
    margin-inline       : 1rem;
    max-width           : 300px;
    overflow            : hidden;
    text-overflow       : ellipsis;
    white-space         : nowrap;
}

article.card > p:nth-child(2) {
    font-size           : 24px;
    font-weight         : var(--fw-bold);
}

article.card > p:nth-child(4) {
    font-weight         : var(--fw-bold);
}
