div.error-page-container {
    align-items         : center;
    display             : flex;
    flex-direction      : column;
    gap                 : 2rem;
    height              : 100dvh;
    padding-top         : 5rem;
    width               : 100%;
}

div.error-page-container > img {
    max-width           : 200px;
    width               : 30%;
}

div.error-page-container > h1 {
    color               : #AAA;
    font-size           : 3rem;
}
